<!doctype html>
<html lang="en">

<head>
    <title>kubernetes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
   <main role="main">
        <div class="container">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Hello, kubernetes!!!</h1>
                    <p>
                        <img src="assets/k8s.svg" alt="logo-k8s" width="120px" height="120px">
                    </p>
                    <p>
                        <a href="https://kubernetes.io" class="btn btn-primary my-2">Learn more!!</a>
                    </p>
                </div>
            </section>
        </div>
    </main>
</body>

</html>